/*
    Created on : 27 dic. 2020, 23:39:31
    Author     : ADRIA - LP
*/

.root {
    -fx-background-color: #2e2f2f;
}

.label {
    -fx-text-fill: whitesmoke;
}

.text {
    -fx-text-fill: whitesmoke;
}

.toolbar {
    -fx-background-color: #1d1d1d;
}

.text-field, .text-area {
    -fx-border-color: white;
    -fx-fill: #1d1d1d;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: whitesmoke;
}

/* Sacado de https://github.com/afsalashyana/Library-Assistant/blob/master/src/resources/dark-theme.css */
.table-view{
    -fx-background-color: #1d1d1d;
    -fx-font-size: 16px;
    -fx-border-color: #414141;
}

.table-row-cell {
    -fx-cell-size: 40px;
}

.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: #2e2f2f;
}
.table-row-cell{
    -fx-background-color: #2e2f2f;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-column{
    -fx-alignment: CENTER;
}

.table-row-cell:even{
    -fx-background-color: #1d1d1d;
}

.table-row-cell:selected {
    -fx-background-color: #2e2f2f;
    -fx-text-fill: #1d1d1d;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: #414141;
}

.placeholder .label{
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #414141;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

.table-view .filler {
    -fx-fill: #1d1d1d;
    -fx-background-color: #1d1d1d;
}

.table-context {
    -fx-base: #1d1d1d;
}
